<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">News App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div style="margin-top: 20px ;">
    <ion-button class="custom-button" (click)="routherToUA()" style="height: 60px;" color="dark" expand="full">
      <ion-label class="button-text">TOP Headlines US</ion-label>
      <img src="assets/united_states.png" alt="united-states-flag">
      <ion-icon name="arrow-forward" class="button-icon" slot="end"></ion-icon>
    </ion-button>

    <ion-button class="custom-button" (click)="routherToUA()" style="height: 60px;" color="dark" expand="full">
      <ion-label class="button-text">TOP Headlines IE</ion-label>
      <img src="assets/ireland.png" alt="united-states-flag">
      <ion-icon name="arrow-forward" class="button-icon" slot="end"></ion-icon>
    </ion-button>

  <ion-button class="custom-button" (click) = "routherToUA()" style="height: 60px;" color="dark" expand="full">
  <ion-label class="button-text">TOP Headlines UA</ion-label>
  <img src="assets/ukraine.png" alt="united-states-flag" >
  <ion-icon name="arrow-forward" class="button-icon" slot="end"></ion-icon>
  </ion-button>
</div>
</ion-content>
