<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="margin-top: 20px ;">
  <ion-button (click) = "routherToUS()" style="height: 60px;" color="dark" expand="full">Top Headlines US</ion-button>
  <ion-button (click) = "routherToIE()" style="height: 60px;" color="dark" expand="full">Top Headlines IE</ion-button>
  <ion-button (click) = "routherToUA()" style="height: 60px;" color="dark" expand="full">TOP Headlines UA</ion-button>
  </div>
</ion-content>
