.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    margin-right: auto;
}

.button-icon {
    margin-left: 5px;
    /* Adjust the margin as needed */
}