<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Yurii Sykal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <p>Dublin Weather</p>
    </ion-item>
    <ion-item>
      <span>
        {{(weatherValues.temp - 273).toFixed(0)}}
      </span>
    </ion-item>
    <ion-item>
      <span>
        {{weatherValues.humidity}}
      </span>
    </ion-item>
    <ion-item>
      <span>
        {{weatherValues.pressure}}
      </span>
    </ion-item>
  </ion-card>
</ion-content>