<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>News By - {{source}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<div style="position: relative; height: 400px; margin: 5px; border-radius: 5px; background-position: center; background-repeat: no-repeat; background-size: cover;" [style.background]="'url('+ image +')'">
  <h3>Author:{{author}}</h3>
</div>
<div style="margin: 16px;">
  <ion-label style="margin: 5px;" class="ion-text-wrap">{{title}}</ion-label>
  <ion-item>
    <ion-label slot="end">
      <p>
        {{publishAt | date}}
      </p>
    </ion-label>
  </ion-item>
  <ion-item >
      <ion-label class="ion-text-wrap" style="font-weight: 300;">
        {{description}}
      </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap custom-wrap" style="font-weight: 300;">
      {{content}}
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-button (click)="goBack()" fill="outligne" color="secondary" slot="end">Back</ion-button>
    <ion-item lines="none">
      <ion-button fill="clear">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="share-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-button (click) = "openBrowser()" fill="outline" color="secondary" slot="end">Read More</ion-button>
  </ion-item>
  <br>
  <ion-textarea label="Enter your comment" labelPlacement="floating" fill="solid" placeholder="Entet your comment"></ion-textarea>
  <ion-button expand="block">Paste your comment</ion-button> 

</div>
</ion-content>
